.success-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(206, 139, 189); 
  }
  
  .success-card {
    background-color: rgb(206, 139, 189); 
    box-shadow: 3px 3px 40px rgb(212, 210, 210);
    border-radius: 5px;
    color: white !important;
    padding: 20px;
    max-width: 400px;
    text-align: center;
  }
  
  .success-card h2 {
    font-size: 3rem; 
    margin: 0;
  }
  
  .success-card p {
    font-size: 1.2em;
    color: white; 
  }
  
  .success-card ul {
    list-style: none;
    padding: 0;
  }
  
  .success-card li {
    font-size: .8rem; 
    margin: 5px 0;
  }
  