/* AdminOrdersPage.css */

.order-card {
  width: 48%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-date {
  font-weight: bold;
  margin-bottom: 10px;
}

.product-info {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.product-image {
  width: 40px; /* Tamaño de la imagen más pequeño */
  height: 40px;
  margin-right: 10px;
}

.product-name {
  font-weight: bold;
}

/* Agrega otros estilos según tus preferencias */
/* ... Otros estilos ... */
