.loginText {
  margin-top: 30px;
  margin-bottom: 30px;
}
.buttonSignup {
  background-color:rgb(206, 139, 189); ;
  margin-top: 20px;
}
::placeholder {
  color: #d8d5d5; /* Color tenue o gris claro */
}

/* Placeholder styles for specific form fields */
#formBasicName::placeholder {
  color: #d8d5d5; /* Color tenue o gris claro */
}

#formBasicEmail::placeholder {
  color: #d8d5d5;/* Color tenue o gris claro */
}

#formBasicPassword::placeholder {
  color: #d8d5d5; /* Color tenue o gris claro */
}

#formBasicConfirmPassword::placeholder {
  color: #d8d5d5; /* Color tenue o gris claro */
}

.cardLoginForm {
  background-color: white;
  padding: 20px 50px 20px 50px;
  box-shadow: 3px 3px 35px rgb(212, 210, 210);
  margin-bottom: 20px;

}

.linkSignup:hover {
  color: #0056b3; /* Cambia el color al pasar el mouse */
  /* Puedes ajustar el color al pasar el mouse según tu preferencia */
}


.linkSignupText {
  margin-top: 20px;
}

#linkSignup {
  color:#49a6ed;
}
