.App {
  text-align: center;
}
.addProduct {
 margin: 0px 0px 30px 0px;
}


.formAdd {
  
  background-color: white;
  box-shadow: 3px 3px 40px rgb(231, 229, 229);
  padding: 40px;
 
}


.form-label {
  font-size: 18px;
}


@media (max-width: 768px) {
  .form-label {
    font-size: 16px;
  }
}

.card {

  box-shadow: 3px 3px 35px rgb(223, 222, 222);
  border: none !important;
  margin-top: 20px;

}

.listaProductos {
  margin: 50px;
}

.mr-3{
  margin:5px;
}

.mb-3 {
  margin:5px ;
}

.message-container {
  position: fixed;
  top: 0;
  right: 0; 
  z-index: 10001;
  width: 100%;
  margin-top: 40px;
}

.contenedorEditor {
  margin-top: 70px;
  margin-bottom: 20px;
}