body {
  @import url('https://fonts.googleapis.com/css2?family=Onest:wght@100;200&display=swap');
  font-family: 'Playball', cursive;

  background-image: url("../public/img/fondo.png");
  margin: 0;
}
